@import url("https://fonts.googleapis.com/css?family=Karla|Montserrat:400,600,700,900&display=swap");

@tailwind base;

* {
  @apply font-display;
}

p {
  @apply font-body;
}

h1,
h2,
h3 {
  @apply text-deepBlue;
}

@tailwind components;

@tailwind utilities;

.hover-up {
  transition-delay: 0s;
  transition-duration: 0.3s;
  transition-property: all;
  transition-timing-function: ease;
}

.hover-up:hover {
  box-shadow: rgba(50, 50, 93, 0.1) 0 7px 14px, rgba(0, 0, 0, 0.08) 0 3px 6px;
  transform: translateY(-2px);
}
.hover-up-sm {
  transition-delay: 0s;
  transition-duration: 250ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hover-up-sm:hover {
  box-shadow: rgba(50, 50, 93, 0.1) 0 7px 14px, rgba(0, 0, 0, 0.08) 0 3px 6px;
  transform: translateY(-1px);
}
